@charset "UTF-8";
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 350; src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url("/fonts/noto/NotoSansKR-DemiLight-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("/fonts/noto/NotoSansKR-Medium-Hestia.woff") format("woff"); }

/* open-sans-regular - latin */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: url("/fonts/open/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */ src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/fonts/open/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/open/open-sans-v17-latin-regular.woff2") format("woff2"), url("/fonts/open/open-sans-v17-latin-regular.woff") format("woff"), url("/fonts/open/open-sans-v17-latin-regular.ttf") format("truetype"), url("/fonts/open/open-sans-v17-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */ }

/* open-sans-700 - latin */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: url("/fonts/open/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */ src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/fonts/open/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/open/open-sans-v17-latin-700.woff2") format("woff2"), url("/fonts/open/open-sans-v17-latin-700.woff") format("woff"), url("/fonts/open/open-sans-v17-latin-700.ttf") format("truetype"), url("/fonts/open/open-sans-v17-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */ }

/* 변수 값 정리 */
/* images url */
/* color */
/* font */
/* spacing */
/* reset */
html { font-size: 62.5%; box-sizing: border-box; }

html, body { height: 100%; }

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0; font-family: 'Open Sans','Noto Sans Korean', sans-serif; box-sizing: border-box; }

body, input, textarea, select, button, table { font-weight: 350; font-size: 1.5rem; line-height: 1.5; }

body { position: relative; -webkit-text-size-adjust: none; }

body > div { height: inherit; }

img, fieldset { border: 0; }

ul, ol { list-style: none; }

em, address { font-style: normal; }

a { text-decoration: none; color: #000; }

table { border-collapse: collapse; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; }

::before, ::after { box-sizing: border-box; }

select, input, textarea { --webkit-appearance: none; --moz-appearnace: none; -webkit-appearance: none; -moz-appearnace: none; appearance: none; }

button { border-radius: 0; border: 0; background-color: transparent; }

input, select, textarea, button, a { -webkit-tap-highlight-color: rgba(122, 32, 32, 0); -webkit-tap-highlight-color: transparent; }

input:focus, select:focus, textarea:focus, button:focus, a:focus { outline: 0; outline-color: transparent; outline-style: none; }

/* Utility */
.sr-only, .btn-arr span, .modal .btn.btn-close span, .app .btn.btn-close span, .modal .btn.btn-set span, .app .btn.btn-set span { overflow: hidden; display: inline-block; width: 1px; height: 1px; margin: -1px; border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); }

.float-left { float: left !important; }

.float-right { float: right !important; }

.text-center { text-align: center !important; }

.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

.clearfix:after, .table .table-header:after, .table .table-header2:after, .table .table-item:after, .clearfix::after, .table .table-header::after, .table .table-header2::after, .table .table-item::after { content: ''; display: block; clear: both; }

/* spacing */
.mt-xs { margin-top: 0.8rem !important; }

.mt-sm { margin-top: 1.6rem !important; }

.mt-nm { margin-top: 2.4rem !important; }

.mt-md { margin-top: 3.2rem !important; }

.mt-lg { margin-top: 4.8rem !important; }

.mt-xl { margin-top: 6.4rem !important; }

.pt-0 { padding-top: 0 !important; }

/* font */
.noto-sans, .terms, .po .guide-detail-step li dl dt, .me .guide-detail-step li dl dt { font-weight: 350; font-family: 'Noto Sans Korean', sans-serif; }

.open-sans, .list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point, .list-group .list-item.ico-item.bar-type .list-item-money .num, .accordion-btn:before, .accordion-panel:before, .po .change-possible-point dd .num { font-weight: 400; font-family: 'Open Sans', sans-serif; }

.fw350, .service .swiper-container .swiper-slide .slide-tit { font-weight: 350 !important; }

.fw400 { font-weight: 400 !important; }

.fw500, .list-tl2, .tab-nav ul li > a.active, .po .change-possible-point dd { font-weight: 500 !important; }

.fw700, .list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point.accent, .list-group .list-item.ico-item.bar-type .list-item-money .num, .po .change-possible-point dd .num { font-weight: 700 !important; }

.txt-wh1 { color: #fff !important; }

.txt-bk1 { color: #000 !important; }

.txt-bk2 { color: #333 !important; }

.txt-grey1 { color: #666 !important; }

.txt-grey2 { color: #999 !important; }

.txt-primary1 { color: #324299 !important; }

/* images */
.img-responsive img { display: block; width: 100%; }

/* Common */
/* table */
.table { margin-bottom: 1.2rem; }

.table .table-header { min-height: 3.4rem; }

.table .table-header .table-title { font-weight: 500; font-size: 1.7rem; }

.table .table-header2 .table-title { font-weight: 500; font-size: 1.5rem; }

.table .table-header2 + .table-body { border-top: 0; }

.table .table-header2 + .table-body .table-body-title { margin-bottom: 2rem; padding-top: 1.6rem; font-weight: 350; font-size: 1.7rem; border-top: 1px solid #e8e8e8; }

.table .table-body { padding-top: 1.2rem; padding-bottom: 1.2rem; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }

.table .table-footer { padding-top: 1.3rem; padding-bottom: 1.3rem; border-bottom: 1px solid #e8e8e8; }

.table .table-footer dt, .table .table-footer dd { font-weight: 500; }

.table .table-item { padding-top: .4rem; padding-bottom: .4rem; }

.table .table-item dt { float: left; }

.table .table-item dd { float: right; }

/* list */
.list-tl2 { margin: 0 -2.4rem; padding: 1.3rem 2.4rem; font-size: 1.3rem; line-height: 1.8rem; color: #000; background-color: #f8f8f8; }

.list-tl2.flex-item { display: flex; justify-content: space-between; }

.list-group { margin: 0 -2.4rem; }

.list-group.flex-group .list-item-link { display: flex; justify-content: space-between; }

.list-group .list-item-empty { padding-top: 9.6rem; color: #999; text-align: center; }

.list-group .list-item { padding: 2.4rem; border-bottom: 1px solid #e8e8e8; }

.list-group .list-item-link { display: block; margin: -2.4rem; padding: 2.4rem 4.8rem 2.4rem 2.4rem; background-image: url("/images/common/arr_bk.png"); background-repeat: no-repeat; background-position: right 2.4rem top 50%; background-size: 2.4rem auto; }

.list-group .list-item-link.arr-none { background: none; }

.list-group .list-item-tit { display: block; line-height: 2rem; color: #000; }

.list-group .list-item-tit + .list-item-txt { padding-top: .3rem; }

.list-group .list-item-txt { display: block; font-size: 1.3rem; line-height: 1.8rem; color: #999; }

.list-group .list-item-txt span + span { padding-left: 0.4rem; }

.list-group .list-item-txt .state { font-weight: 500; }

.list-group .list-item-txt-area { flex: 1; }

.list-group .list-item-img { display: block; width: 3.2rem; height: 3.2rem; margin-right: 1.2rem; }

.list-group .list-item-img.card { width: 2.8rem; height: 4.3rem; }

.list-group .list-item-img img { width: 100%; }

.list-group .list-item-btn { padding-left: 1rem; margin-left: auto; font-size: 1.3rem; color: #666; }

.list-group .list-item-ico { display: block; width: 2rem; height: 2rem; background-size: 2rem; }

.list-group .list-item.btn-item { display: flex; justify-content: space-between; align-items: center; }

.list-group .list-item.ico-item { display: flex; align-items: center; }

.list-group .list-item.ico-item .list-item-ico { align-self: flex-start; margin-right: .6rem; }

.list-group .list-item.ico-item.arr-type .list-item-point-area { text-align: right; margin-left: 1rem; }

.list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point { font-size: 1.3rem; color: #666; line-height: 1.8rem; }

.list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point.accent { font-size: 1.5rem; }

.list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point.accent.plus { color: #324299; }

.list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point.accent.minus { color: #ef326b; }

.list-group .list-item.ico-item.arr-type .list-item-point-area .list-item-point.accent + .list-item-point { margin-top: .3rem; }

.list-group .list-item.ico-item.bar-type .list-item-money { width: 100%; line-height: 1.8rem; text-align: right; }

.list-group .list-item.ico-item.bar-type .list-item-money.plus { color: #000; }

.list-group .list-item.ico-item.bar-type .list-item-money.minus { color: #ef326b; }

.list-group .list-item.arr-type .list-item-tit span + span { margin-left: .4rem; }

.list-group .list-item.arr-type .list-item-tit span + span::before { content: ""; display: inline-block; width: .5rem; height: .8rem; margin-right: .6rem; margin-bottom: .3rem; background-image: url("/images/common/arr_mini.png"); background-repeat: no-repeat; background-position: 0 0; background-size: contain; vertical-align: middle; }

.list-group .list-item.bar-type { flex-wrap: wrap; }

.list-group .list-item.bar-type .list-item-tit span + span { margin-left: .3rem; }

.list-group .list-item.bar-type .list-item-tit span + span::before { content: ""; display: inline-block; width: .1rem; height: 1.2rem; margin-right: .7rem; background-color: #ccc; }

.list-group .list-item.btn-type { display: flex; align-items: flex-start; }

.list-group .list-item.btn-type.type2 { flex-wrap: wrap; }

.list-group .list-item.btn-type.type2 .list-item-btn-area { width: 100%; }

.list-group .list-item.btn-type .list-item-btn-area { text-align: right; }

.list-group .list-item.btn-type .list-item-btn-area .list-item-date { font-size: 1.3rem; line-height: 1.8rem; }

.list-group .list-item.btn-type .list-item-btn-area .list-item-date .date { color: #999; }

.list-group .list-item.btn-type .list-item-btn-area .list-item-date .state { font-weight: 500; }

.list-group .list-item.btn-type .list-item-btn-area .list-item-date + .btn { margin-top: 5px; }

.list-group .list-item.img-item .list-item-link { display: flex; align-items: center; }

.list-group .list-item.img-item.card-type { padding: 1.6rem 1.6rem; }

.list-group .list-item.img-item.card-type .list-item-img { width: 2.8rem; height: 4.3rem; }

.list-group .list-item.img-item.bank-type .list-item-img { width: 3.6rem; height: 3.6rem; }

.list-group.box { margin: 0; }

.list-group.box .list-item { padding: 2rem 1.6rem; border-radius: .7rem; border: 0; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11); }

.list-group.box .list-item + .list-item { margin-top: 1.2rem; }

.list-group.box .list-item-link { margin: -2rem -1.6rem; padding: 2rem 3.2rem 2rem 1.6rem; background-position: right .8rem top 50%; }

.list-group-type2 { padding: 2rem 0; border-bottom: 1px solid #e8e8e8; }

.list-group-type2.border-none { border-bottom: 0; }

.list-group-type2 .list-item-link { display: block; background-image: url("/images/common/arr_bk.png"); background-repeat: no-repeat; background-position: right 0 top 50%; background-size: 2.4rem auto; font-weight: 500; }

.list-group-type2 .list-item-link.arr-none { background: none; }

.list-group-type2 .list-item-link.disabled { opacity: .2; }

.list-group-type2 .list-item + .list-item { margin-top: 1.4rem; }

.form-list-group .list-item + .list-item { margin-top: 1.6rem; }

/* list-type */
.list-tl1 { margin-bottom: 1.6rem; font-weight: 500; font-size: 1.5rem; }

[class*=list-type][class*=mark-]::before { display: none; }

[class*=list-type][class*=mark-] li { position: relative; }

[class*=list-type][class*=mark-] li:before, [class*=list-type][class*=mark-] li::before { content: ''; position: absolute; display: block; }

[class*=list-type].mark-dot li { padding-left: .9rem; }

[class*=list-type].mark-dot li::before { left: 0; top: .9rem; width: 3px; height: 3px; border-radius: 50%; background-color: #666; }

[class*=list-type].mark-hyphen li { padding-left: .9rem; }

[class*=list-type].mark-hyphen li::before { content: '\002d'; left: 0; top: -.1rem; }

.list-type { margin-bottom: 4.8rem; }

.list-type li { font-size: 1.3rem; color: #666; }

.list-type2 li { font-size: 1.5rem; }

.list-type2 li + li { margin-top: 0.8rem; }

.list-type2.mark-num li { padding-left: 2.1rem; }

.list-type2.mark-num li em { position: absolute; left: 0; }

.list-type2.mark-dot li:before, .list-type2.mark-dot li::before { top: 1rem; }

/* hr */
.hr1 { height: .8rem; margin: 0 -2.4rem 1.6rem; border-width: 1px 0; border-style: solid; border-color: #e8e8e8; background-color: #f8f8f8; }

/* card */
.card { padding: 1.8rem 2rem; border-radius: .7rem; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11); }

.card.primary-bg { background-color: #324299; box-shadow: none; color: #fff; }

.card.primary-bg a, .card.primary-bg button { color: #fff; }

.card.primary-bg .point-link { background: url("/images/icon/ico_arr_wh.png") no-repeat right center/2.8rem auto; }

.card.primary-bg .point-plus { background: url("/images/icon/ico_plus_wh.png") no-repeat right center/2.8rem auto; }

.card .table { margin-bottom: 0; }

.card .point { font-size: 2rem; }

.card .point .num { font-size: 2.2rem; font-weight: 700; margin-right: .4rem; }

.card .point-link { display: block; padding-right: 2.8rem; background: url("/images/icon/ico_arr.png") no-repeat right center/2.8rem auto; }

.card .point-plus { display: block; padding-right: 2.8rem; background: url("/images/icon/ico_plus.png") no-repeat right center/2.8rem auto; }

.card .info-txt { font-size: 1.3rem; line-height: 1.8rem; }

.card .ico-area { display: flex; }

.card .ico-area .ico { margin-left: 1.2rem; }

.card-type1 .card-header.table { line-height: 2.8rem; }

.card-type1 .card-header + .card-content { margin-top: 1.2rem; }

.card-type2 .card-header, .card-type2 .card-content { display: flex; justify-content: space-between; }

.card-type2 .card-content { margin: .9rem 0 .4rem; align-items: flex-end; }

.card-type3 { display: flex; justify-content: space-between; }

.card-type3 .client { padding-bottom: .2rem; }

/* button */
.btn { font-weight: 500; }

.btn-primary { color: #fff; background-color: #324299; }

.btn-primary:disabled { background-color: #ccc; }

.btn-secondary { color: #666; background-color: #e8e8e8; }

.btn-secondary:disabled { background-color: #ccc; }

.btn-line { color: #fff; border: 1px solid #fff; background-color: transparent; }

.btn-line:disabled { opacity: 0.6; }

.btn-link { font-size: 1.5rem; text-decoration: underline; }

.btn-txt { position: absolute; right: 1.6rem; top: 50%; transform: translateY(-50%); color: #324299; }

.btn-sm { min-width: 6rem; height: 3.2rem; padding: 0 1.2rem; border-radius: .2rem; }

.btn-sm.btn-secondary { color: #999; border: 1px solid #e8e8e8; background-color: #fff; }

.btn-ico-arr { display: inline-flex; padding-right: 2.4rem; font-weight: 350; background-image: url(/images/common/arr_bk.png); background-repeat: no-repeat; background-position: right 0 top 50%; background-size: 2.4rem auto; }

.btn-ico-arr + .btn-ico-arr { margin-left: 1.6rem; }

.btn-ico-arr.white { color: #fff; background-image: url(/images/common/arr_wh.png); }

.btn-ico-filter { width: 10rem; height: 4.4rem; border-radius: 3.3rem; background-color: #fff; box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.11); }

.btn-ico-filter span { padding-right: 2.8rem; background: url("/images/common/btn_filter.png") no-repeat right 0 top 50%/2.8rem auto; }

.btn-ico-sch { position: absolute; right: 1.6rem; top: 50%; transform: translateY(-50%); }

.btn-arr { display: inline-block; width: 2.4rem; height: 2.4rem; border-radius: 0; background: url("/images/common/arr_bk.png") no-repeat right 0 top 50%/2.4rem auto; }

.btn-area, .btn-area-more { display: flex; justify-content: center; flex: 1 0 100%; }

.btn-area + .footer-btn, .btn-area-more + .footer-btn { margin-top: 2.2rem; }

.btn-area-more { max-height: 2.4rem; margin-bottom: 10.2rem; }

.footer-btn { display: flex; flex-wrap: wrap; padding-top: 3.2rem; }

.footer-btn .btn-primary, .footer-btn .btn-secondary, .footer-btn .btn-line { height: 5.2rem; font-size: 1.7rem; border-radius: .6rem; }

.footer-btn .btn-primary { flex: 1; }

.footer-btn .btn-secondary { width: 34.25%; }

.footer-btn .btn-secondary + .btn-primary { margin-left: .9rem; }

.footer-btn .btn-line { flex: auto; }

/* form */
fieldset legend { display: block; width: 100%; margin-bottom: 2.4rem; font-weight: 500; }

.form-group .form-chk + .form-chk { margin-top: 1.6rem; }

.form-group-inline { display: flex; flex-wrap: wrap; margin-right: -2.4rem; }

.form-item-btn { position: relative; }

.form-item-btn .form-control { padding-right: 9.4rem; }

.form-item-sch { position: relative; }

.form-item-sch .form-control { padding-right: 6rem; }

.form-item-sch .form-control::placeholder { font-weight: 350; color: #ccc; }

.form-item-sch .form-control:placeholder-shown { background-color: #fcfcfc; }

.form-item-sch .btn-ico-sch { opacity: .6; }

[class*=form-item] { margin-top: 1.2rem; }

[class*=form-item]:first-of-type { margin-top: 0; }

.form-label { display: none; }

.form-control { display: block; width: 100%; padding: 1.4rem 1.6rem; font-weight: 350; font-size: 1.5rem; color: #000; border-radius: .6rem; border: 1px solid #DCDCDC; }

.form-control::placeholder { font-weight: 500; color: #ccc; }

.form-control:not(.form-chk-input):disabled, .form-control:not(.form-chk-input):read-only:not(.arr):not(select) { font-weight: 350; color: #999; background-color: #e8e8e8; }

.form-control.arr { background: #fff url("/images/common/arr_bk_bt.png") no-repeat right 1rem top 50%/2.4rem auto; }

.form-control.arr:required:invalid { color: #ccc; background: #fff url("/images/common/arr_bk_bt.png") no-repeat right 1rem top 50%/2.4rem auto; }

.form-control.arr:disabled { opacity: .9; }

textarea.form-control { height: 17rem; }

select.form-control { font-weight: 500; background: #fff url("/images/common/arr_bk_bt.png") no-repeat right 1rem top 50%/2.4rem auto; }

select.form-control:required { font-weight: 500; }

select.form-control:required:invalid { color: #ccc; background: #fff url("/images/common/arr_bk_bt.png") no-repeat right 1rem top 50%/2.4rem auto; }

select.form-control:disabled { font-weight: 500; opacity: .9; }

.form-chk { position: relative; display: flex; align-items: center; min-height: 2.4rem; }

.form-chk-all { margin-top: 2.4rem; }

.form-chk-all .form-chk-input { width: 100%; height: 100%; }

.form-chk-all .form-chk-input:checked + .form-chk-label { color: #324299; border-color: #324299; }

.form-chk-all .form-chk-label { display: flex; align-items: center; justify-content: center; width: 100%; min-height: 6rem; font-weight: 500; font-size: 1.7rem; color: #999; padding: 0 1.6rem; border: 1px solid #dcdcdc; border-radius: 6px; }

.form-chk-all .form-chk-label::before, .form-chk-all .form-chk-label::after { display: none; }

.form-chk-input { position: absolute; left: 0; top: 0; width: 1.8rem; height: 1.8rem; z-index: -1; opacity: 0; }

.form-chk-input[type=radio]:checked + .form-chk-label::after { content: ''; position: absolute; left: .5rem; top: .7rem; display: block; width: .95rem; height: .95rem; border-radius: 50%; background-color: #324299; }

.form-chk-input[type=radio]:checked:disabled + .form-chk-label::after { background-color: #ccc; }

.form-chk-input[type=checkbox] + .form-chk-label::before { background-image: url("/images/common/ico_chk.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: 1.1rem auto; }

.form-chk-input[type=checkbox]:checked + .form-chk-label::before { border-color: #324299; background-color: #324299; background-image: url("/images/common/ico_chked.png"); }

.form-chk-input[type=checkbox]:disabled + .form-chk-label::before { border-color: #ccc; background-color: #ccc; }

.form-chk-label { display: flex; }

.form-chk-label::before { content: ''; display: inline-block; width: 2rem; height: 2rem; margin-top: .1rem; margin-right: 1.2rem; vertical-align: middle; border: 1px solid #ddd; border-radius: 50%; background-color: #fff; }

.form-chk-btn { flex: 0 0 auto; margin-right: 1.2rem; }

.form-chk-btn .form-chk-input[type=radio] { width: auto; }

.form-chk-btn .form-chk-input[type=radio]:checked + .form-chk-label { color: #fff; background-color: #333; }

.form-chk-btn .form-chk-input[type=radio]:checked + .form-chk-label::before, .form-chk-btn .form-chk-input[type=radio]:checked + .form-chk-label::after { display: none; }

.form-chk-btn .form-chk-label { display: flex; height: 3.6rem; margin-bottom: 1.3rem; padding-left: 1.8rem; padding-right: 1.8rem; font-size: 1.3rem; line-height: 3.6rem; color: #000; border-radius: 1.8rem; background-color: #f8f8f8; }

.form-chk-btn .form-chk-label::before, .form-chk-btn .form-chk-label::after { display: none; }

.form-chk-inline { display: inline-flex; }

.toggle { display: none; }

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-btn { box-sizing: border-box; }

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-btn::selection { background: none; }

.toggle + .toggle-btn { outline: 0; display: block; width: 4.5rem; height: 2.6rem; position: relative; cursor: pointer; user-select: none; }

.toggle + .toggle-btn:after, .toggle + .toggle-btn:before { position: relative; display: block; content: ""; width: 2.4rem; height: 100%; }

.toggle + .toggle-btn:after { left: 0; }

.toggle + .toggle-btn:before { display: none; }

.toggle:checked + .toggle-btn:after { left: 1.9rem; }

.toggle-round + .toggle-btn { background: #e8e8e8; border-radius: 2.4rem; padding: 0.1rem; transition: all .4s ease; }

.toggle-round + .toggle-btn:after { border-radius: 50%; background: #fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); transition: all .2s ease; }

.toggle-round:checked + .toggle-btn { background: #324299; }

.validation-errors { margin-top: 12px; margin-bottom: 1.6rem; }

.validation-errors .err-msg { font-size: 1.2rem; color: #ef326b; }

.textarea-count { margin-top: .8rem; text-align: right; color: #999; }

.textarea-count + .validation-errors { position: relative; top: -3rem; }

.keypad { margin: 3.5rem -2.4rem -3.2rem; padding: 1.2rem; background-color: #324299; }

.keypad .keypad-table { width: 100%; }

.keypad .keypad-table td { height: 6.8rem; }

.keypad .pad-key { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-weight: 400; font-size: 2.8rem; color: #fff; text-align: center; border-radius: 0; appearance: none; }

.keypad .pad-key:active { background-color: rgba(0, 0, 0, 0.3); }

.keypad .pad-edit { background: url(/images/common/btn_edit.png) no-repeat 50% 50%/2.8rem auto; }

.ico { display: block; width: 2.8rem; height: 2.8rem; background-repeat: no-repeat; background-position: 50% 50%; background-size: 2.8rem auto; }

.ico-change { background-image: url("/images/icon/ico_change.png"); }

.ico-change.wh { background-image: url("/images/icon/ico_change_wh.png"); }

.ico-flash { background-image: url("/images/icon/ico_flash.png"); }

.ico-flash.wh { background-image: url("/images/icon/ico_flash_wh.png"); }

.ico-card { background-image: url("/images/icon/ico_card.png"); }

.ico-card.wh { background-image: url("/images/icon/ico_card_wh.png"); }

.ico-use { background-image: url("/images/icon/ico_use.png"); }

.ico-use.wh { background-image: url("/images/icon/ico_use_wh.png"); }

.ico-list { background-image: url("/images/icon/ico_list.png"); }

.ico-list.wh { background-image: url("/images/icon/ico_list_wh.png"); }

.ico-arr { background-image: url("/images/icon/ico_arr.png"); }

.ico-arr.wh { background-image: url("/images/icon/ico_arr_wh.png"); }

.ico-bell { background-image: url("/images/icon/ico_bell.png"); }

.ico-bell.wh { background-image: url("/images/icon/ico_bell_wh.png"); }

.ico-bell.on { background-image: url("/images/icon/ico_bell_on.png"); }

.ico-bell.on.wh { background-image: url("/images/icon/ico_bell_on_wh.png"); }

.ico-close { background-image: url("/images/icon/ico_close.png"); }

.ico-close.wh { background-image: url("/images/icon/ico_close_wh.png"); }

.ico-menu { background-image: url("/images/icon/ico_menu.png"); }

.ico-menu.wh { background-image: url("/images/icon/ico_menu_wh.png"); }

.ico-set { background-image: url("/images/icon/ico_set.png"); }

.ico-set.wh { background-image: url("/images/icon/ico_set_wh.png"); }

.ico-switch { background-image: url("/images/icon/ico_switch.png"); }

.ico-switch.wh { background-image: url("/images/icon/ico_switch_wh.png"); }

.ico-info { background-image: url("/images/icon/ico_info.png"); }

.ico-info.wh { background-image: url("/images/icon/ico_info_wh.png"); }

.ico-cal { background-image: url("/images/icon/ico_cal.png"); }

.ico-cal.wh { background-image: url("/images/icon/ico_cal_wh.png"); }

.ico-filter { background-image: url("/images/icon/ico_filter.png"); }

.ico-filter.wh { background-image: url("/images/icon/ico_filter_wh.png"); }

.ico-zoom { background-image: url("/images/icon/ico_zoom.png"); }

.ico-zoom.wh { background-image: url("/images/icon/ico_zoom_wh.png"); }

.ico-send { background-image: url("/images/icon/ico_send.png"); }

.ico-send.wh { background-image: url("/images/icon/ico_send_wh.png"); }

.ico-invite { background-image: url("/images/icon/ico_invite.png"); }

.ico-invite.wh { background-image: url("/images/icon/ico_invite_wh.png"); }

.ico-cancle { background-image: url("/images/icon/ico_cancle.png"); }

.ico-cancle.wh { background-image: url("/images/icon/ico_cancle_wh.png"); }

.illust-area { display: flex; flex-direction: column; align-items: center; /* height 156 */ /* height 120 */ /* etc */ }

.illust-area [class^=ill] { display: block; width: 27.5rem; background-repeat: no-repeat; background-position: 50% 50%; background-size: 27.5rem auto; }

.illust-area [class^=ill-156] { height: 15.6rem; }

.illust-area [class^=ill-120] { height: 12rem; }

.illust-area .ill-156-msg { background-image: url("/images/illust/ill_156_msg.png"); }

.illust-area .ill-156-pigbank-cashbee { background-image: url("/images/illust/ill_156_pigbank_cashbee.png"); }

.illust-area .ill-156-pigbank-kona { background-image: url("/images/illust/ill_156_pigbank_kona.png"); }

.illust-area .ill-156-wallet-phone { background-image: url("/images/illust/ill_156_wallet_phone.png"); }

.illust-area .ill-156-moneybag { background-image: url("/images/illust/ill_156_moneybag.png"); }

.illust-area .ill-156-family { background-image: url("/images/illust/ill_156_family.png"); }

.illust-area .ill-156-phone { background-image: url("/images/illust/ill_156_phone.png"); }

.illust-area .ill-156-pigbank { background-image: url("/images/illust/ill_156_pigbank.png"); }

.illust-area .ill-156-wallet { background-image: url("/images/illust/ill_156_wallet.png"); }

.illust-area .ill-156-document { background-image: url("/images/illust/ill_156_document.png"); }

.illust-area .ill-120-shoppoing-wallet { background-image: url("/images/illust/ill_120_shopping_wallet.png"); }

.illust-area .ill-120-wallet { background-image: url("/images/illust/ill_120_wallet.png"); }

.illust-area .ill-120-preparing { background-image: url("/images/illust/ill_120_preparing.png"); }

.illust-area .ill-120-shopping { background-image: url("/images/illust/ill_120_shopping.png"); }

.illust-area .ill-120-hand { background-image: url("/images/illust/ill_120_hand.png"); }

.illust-area .ill-nfc { height: 23.2rem; background-image: url("/images/illust/ill_nfc.png"); }

/* swiper */
.service .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 .2rem 0 .2rem; }

.service .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active { margin: 0; }

.service .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left: .5rem; }

.service .swiper-pagination-bullets { top: calc(16vh + 39.4rem); bottom: initial; display: flex; align-items: center; justify-content: center; }

.service .swiper-pagination-bullet { width: .6rem; height: .6rem; margin: 0; border-radius: 50%; background-color: rgba(0, 0, 0, 0.2); opacity: 1; box-sizing: border-box; }

.service .swiper-pagination-bullet-active { width: 1rem; height: 1rem; border: 2px solid #fff; background-color: transparent; opacity: 1; }

.service .swiper-pagination-bullet-active:nth-child(2n) { border-color: #0d0f3a; }

/* 아코디언 */
.accordion { margin-bottom: 11.2rem; }

.accordion-btn { position: relative; display: block; width: 100%; padding-left: 2.4rem; text-align: left; outline: none; }

.accordion-btn:after { content: ""; position: absolute; top: 0; right: 0; width: 2.4rem; height: 2.4rem; background: url("/images/common/arr_bk.png") no-repeat right 0 top 50%/2.4rem auto; transform: rotate(90deg); }

.accordion-btn.active:after { transform: rotate(-90deg); }

.accordion-btn:before { position: absolute; top: 0; left: 0; margin-right: 1.2rem; font-weight: 700; content: "Q"; }

.accordion-panel { position: relative; overflow: hidden; max-height: 0; transition: max-height 0.2s ease-out; }

.accordion-panel .txt { margin: 4.4rem 2rem 0rem 2.4rem; color: #666; }

.accordion-panel .txt + .txt { margin-top: -1rem; }

.accordion-panel:before { position: absolute; top: 0; left: 0; margin-right: 1.2rem; font-weight: 700; content: "A"; top: 4.4rem; color: #324299; }

/* tab */
.tab { height: calc(100% + 6.4rem); margin: -3.2rem -2.4rem; }

.tab-nav { position: sticky; top: 0; background-color: #fff; }

.tab-nav::after { content: ""; display: block; width: 100%; height: 1px; background-color: #ccc; }

.tab-nav ul { display: flex; }

.tab-nav ul li { flex: 1; text-align: center; }

.tab-nav ul li > a { position: relative; display: block; padding-top: 2.5rem; padding-bottom: 1rem; color: #999; }

.tab-nav ul li > a::after { content: ""; position: absolute; left: 50%; bottom: -1px; display: block; width: 0; transform: translateX(-50%); transition: all .3s; }

.tab-nav ul li > a.active { color: #000; }

.tab-nav ul li > a.active::after { content: ""; width: 100%; height: 2px; background-color: #324299; }

.tab-content { height: calc(100% - 5.8rem); padding: 3.2rem 2.4rem; }

.tab-content .tab-panel { display: none; }

.tab-content .tab-panel.active { display: flex; flex-direction: column; height: 100%; }

.tab-content .tab-panel .tab-footer { margin-top: auto; }

.tab-content .modal-footer { padding: 0 !important; }

/* toast */
.toast-area { visibility: hidden; position: fixed; bottom: -3.4rem; left: 0; width: 100%; transition: 0.5s; opacity: 0; display: flex; justify-content: center; }

.toast-area.show { visibility: visible; opacity: 1; bottom: 3.4rem; }

.toast-area .toast { margin: 0 2.4rem; padding: 1.1rem 2.4rem; font-size: 1.3rem; line-height: 1.8rem; background-color: rgba(0, 0, 0, 0.8); color: #fff; text-align: center; border-radius: 2.6rem; box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.63); }

/* modal */
.app { visibility: visible !important; }

.app .app-content { transform: none !important; }

.modal, .app { position: fixed; left: 0; top: 0; right: 0; bottom: 0; visibility: hidden; width: 100%; height: 100%; transition: all .15s; z-index: 100; }

.modal.show, .app.show { visibility: visible; }

.modal.show .modal-content, .modal.show .app-content, .app.show .modal-content, .app.show .app-content { transform: none; }

.modal.show::before, .app.show::before { content: ''; position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 99; }

.modal .modal-content, .modal .app-content, .app .modal-content, .app .app-content { position: relative; overflow: auto; display: flex; flex-direction: column; height: 100%; padding-top: 4.4rem; background-color: #fff; z-index: 99; transition: transform .3s; transform: translate(0, 100%); }

.modal .modal-header, .modal .app-header, .app .modal-header, .app .app-header { position: fixed; top: 0; width: 100%; min-height: 4.4rem; padding: 0 2.4rem; background-color: #fff; z-index: 10; min-height: 4.4rem; min-height: calc(constant(safe-area-inset-top) + 4.4rem); min-height: calc(env(safe-area-inset-top) + 4.4rem);}

.modal .modal-header .modal-title, .modal .modal-header .app-title, .modal .app-header .modal-title, .modal .app-header .app-title, .app .modal-header .modal-title, .app .modal-header .app-title, .app .app-header .modal-title, .app .app-header .app-title { font-size: 1.7rem; font-weight: 500; line-height: 4.4rem; padding-top: 0; padding-top: calc(constant(safe-area-inset-top)); padding-top: calc(env(safe-area-inset-top)); }

.modal .modal-body, .modal .app-body, .app .modal-body, .app .app-body { flex: 1 0 auto; padding: 3.2rem 2.4rem 3.2rem; padding: calc(constant(safe-area-inset-top) + 3.2rem) 2.4rem 3.2rem; padding: calc(env(safe-area-inset-top) + 3.2rem) 2.4rem 3.2rem;}

.modal .modal-body .hgorup, .modal .app-body .hgorup, .app .modal-body .hgorup, .app .app-body .hgorup { font-size: 2rem; line-height: 2.8rem; }

.modal .modal-footer, .modal .app-footer, .app .modal-footer, .app .app-footer { margin-top: auto; padding: 3.2rem 2.4rem 3.4rem; }

.modal .modal-footer-fixed, .modal .app-footer-fixed, .app .modal-footer-fixed, .app .app-footer-fixed { position: fixed; left: 0; bottom: 3.4rem; width: 100%; z-index: 100; }

.modal .modal-footer .keypad, .modal .app-footer .keypad, .app .modal-footer .keypad, .app .app-footer .keypad { margin-bottom: -3.4rem; }

.modal .btn.btn-close, .app .btn.btn-close { position: fixed; top: .8rem; right: 2.4rem; width: 2.8rem; height: 2.8rem; background: url("/images/icon/ico_close.png") no-repeat 0 0/2.8rem auto; z-index: 20; top: calc(constant(safe-area-inset-top) + .8rem); top: calc(env(safe-area-inset-top) + .8rem);}

.modal .btn.btn-close.pos-left, .app .btn.btn-close.pos-left { right: initial; left: 2.4rem; }

.modal .btn.btn-set, .app .btn.btn-set { position: fixed; top: .8rem; right: 2.4rem; width: 2.8rem; height: 2.8rem; background: url("/images/icon/ico_set.png") no-repeat 0 0/2.8rem auto; z-index: 20; top: calc(constant(safe-area-inset-top) + .8rem); top: calc(env(safe-area-inset-top) + .8rem);}

.modal.modal-bottom, .modal.app-bottom, .app.modal-bottom, .app.app-bottom { display: flex; flex-direction: column; align-items: baseline; justify-content: flex-end; width: 100%; height: 100%; transition: all .15s linear; }

.modal.modal-bottom.show, .modal.app-bottom.show, .app.modal-bottom.show, .app.app-bottom.show { visibility: visible; }

.modal.modal-bottom.show .modal-content, .modal.modal-bottom.show .app-content, .modal.app-bottom.show .modal-content, .modal.app-bottom.show .app-content, .app.modal-bottom.show .modal-content, .app.modal-bottom.show .app-content, .app.app-bottom.show .modal-content, .app.app-bottom.show .app-content { transform: none; }

.modal.modal-bottom .modal-content, .modal.modal-bottom .app-content, .modal.app-bottom .modal-content, .modal.app-bottom .app-content, .app.modal-bottom .modal-content, .app.modal-bottom .app-content, .app.app-bottom .modal-content, .app.app-bottom .app-content { position: fixed; bottom: 0; width: 100%; height: auto; max-height: 72vh; padding: 0 2.4rem; border-radius: 2rem 2rem 0 0; background-color: #fff; transform: translate(0, 207px); }

.modal.modal-bottom .btn-close-modal, .modal.modal-bottom .btn-close-app, .modal.app-bottom .btn-close-modal, .modal.app-bottom .btn-close-app, .app.modal-bottom .btn-close-modal, .app.modal-bottom .btn-close-app, .app.app-bottom .btn-close-modal, .app.app-bottom .btn-close-app { position: relative; display: block; width: 100%; height: 3.4rem; }

.modal.modal-bottom .btn-close-modal::after, .modal.modal-bottom .btn-close-app::after, .modal.app-bottom .btn-close-modal::after, .modal.app-bottom .btn-close-app::after, .app.modal-bottom .btn-close-modal::after, .app.modal-bottom .btn-close-app::after, .app.app-bottom .btn-close-modal::after, .app.app-bottom .btn-close-app::after { content: ''; position: absolute; left: 50%; top: .8rem; display: block; width: 2.8rem; height: .3rem; border-radius: .15rem; background-color: #dadef0; transform: translateX(-50%); }

.modal.modal-bottom ul li, .modal.app-bottom ul li, .app.modal-bottom ul li, .app.app-bottom ul li { margin: .8rem 0; }

.modal.modal-bottom ul li a, .modal.app-bottom ul li a, .app.modal-bottom ul li a, .app.app-bottom ul li a { font-size: 1.7rem; }

.modal.modal-bottom ul li.active a, .modal.app-bottom ul li.active a, .app.modal-bottom ul li.active a, .app.app-bottom ul li.active a { display: block; color: #324299; background: url(/images/common/ico_chk_bl.png) no-repeat 100% 50%/1.5rem auto; }

.modal.modal-bottom ul.box-type, .modal.app-bottom ul.box-type, .app.modal-bottom ul.box-type, .app.app-bottom ul.box-type { display: flex; flex-wrap: wrap; margin: 2rem -0.6rem; text-align: center; }

.modal.modal-bottom ul.box-type li, .modal.app-bottom ul.box-type li, .app.modal-bottom ul.box-type li, .app.app-bottom ul.box-type li { flex-basis: 33%; padding: 0.6rem; margin: 0; }

.modal.modal-bottom ul.box-type li a, .modal.app-bottom ul.box-type li a, .app.modal-bottom ul.box-type li a, .app.app-bottom ul.box-type li a { display: block; padding: 2rem 0; border: 1px solid #e8e8e8; border-radius: 1rem; font-size: 1.5rem; box-sizing: border-box; }

.modal.modal-bottom ul.box-type li a .ico, .modal.app-bottom ul.box-type li a .ico, .app.modal-bottom ul.box-type li a .ico, .app.app-bottom ul.box-type li a .ico { width: 3.6rem; height: 3.6rem; margin: 0 auto; }

.modal.modal-bottom ul.box-type li a .ico img, .modal.app-bottom ul.box-type li a .ico img, .app.modal-bottom ul.box-type li a .ico img, .app.app-bottom ul.box-type li a .ico img { width: 100%; }

.modal.modal-bottom ul.box-type li a .ico + .name, .modal.app-bottom ul.box-type li a .ico + .name, .app.modal-bottom ul.box-type li a .ico + .name, .app.app-bottom ul.box-type li a .ico + .name { padding-top: 0.4rem; }

.modal.modal-bottom ul.box-type li a .name, .modal.app-bottom ul.box-type li a .name, .app.modal-bottom ul.box-type li a .name, .app.app-bottom ul.box-type li a .name { display: block; }

.modal.modal-bottom ul.box-type li.active a, .modal.app-bottom ul.box-type li.active a, .app.modal-bottom ul.box-type li.active a, .app.app-bottom ul.box-type li.active a { background: none; border-color: #324299; }

.modal-confirm { position: fixed; left: 0; top: 0; right: 0; bottom: 0; visibility: hidden; display: flex; align-items: center; justify-content: center; padding: 3rem; z-index: 100; }

.modal-confirm.show { visibility: visible; }

.modal-confirm.show .modal-content { transform: none; }

.modal-confirm.show::before { content: ''; position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 99; }

.modal-confirm .modal-content { position: relative; overflow: auto; display: flex; flex-direction: column; width: 100%; padding: 0; border-radius: 1.2rem; background-color: #fff; z-index: 300; }

.modal-confirm .modal-content .modal-header { position: static; }

.modal-confirm .modal-content .modal-body { padding: 3.2rem 2.4rem 3.2rem; line-height: 2rem; text-align: center; }

.modal-confirm .modal-content .modal-footer { display: flex; padding: 0; border-top: 1px solid #e8e8e8; }

.modal-confirm .modal-content .modal-footer .btn { flex: 1; height: 5.6rem; font-size: 1.7rem; }

.modal-confirm .modal-content .modal-footer .btn.btn-cancel { color: #999; }

.modal-confirm .modal-content .modal-footer .btn.btn-confirm { color: #324299; }

.modal-confirm .modal-content .modal-footer .btn + .btn { border-left: 1px solid #e8e8e8; }

.modal-event { position: fixed; left: 0; top: 0; right: 0; bottom: 0; visibility: hidden; display: flex; align-items: center; justify-content: center; padding: 2.4rem; transition: none; z-index: 100; }

.modal-event.show { visibility: visible; }

.modal-event.show .modal-content { transform: none; }

.modal-event.show::before { content: ''; position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 99; }

.modal-event .modal-content { position: relative; overflow: auto; display: flex; flex-direction: column; height: auto; padding: 0; border-radius: .7rem; transition: transform .3s; transform: translate(0, 100%); background-color: #fff; z-index: 300; }

.modal-event .modal-body { padding: 3.2rem 2.6rem 3.2rem; background-color: #324299; }

.modal-event .modal-footer { display: flex; align-items: center; min-height: 5.2rem; padding: 0 2rem; }

.modal-event .btn-close { position: static; margin-left: auto; color: #324299; background: transparent; }

.dim { position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 100; }

.dim .spinner { position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; margin-top: -50px; margin-left: -50px; background: url("/images/common/ani_loading.png") no-repeat center; }

/* common */
.bg-grey { background-color: #f8f8f8 !important; }

.bg-grey .modal-header, .bg-grey .tab-nav, .bg-grey .app-header, .bg-grey .tab-nav { background-color: #f8f8f8 !important; }

.row { margin: -3.2rem -2.4rem; padding: 3.2rem 2.4rem; }

/* mm main */
.service .swiper-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; }

.service .swiper-container .swiper-slide { text-align: center; background-color: #324299; }

.service .swiper-container .swiper-slide:nth-child(2n) { background-color: #fff; }

.service .swiper-container .swiper-slide:nth-child(2n) .slide-tit, .service .swiper-container .swiper-slide:nth-child(2n) .slide-txt { color: #000; }

.service .swiper-container .swiper-slide .slide-txt-area { position: absolute; top: 7vh; width: 100%; }

.service .swiper-container .swiper-slide .slide-tit { color: #fff; font-size: 3.4rem; line-height: 4.1rem; }

.service .swiper-container .swiper-slide .slide-tit + .illust-area { margin-top: 3.2rem; }

.service .swiper-container .swiper-slide .slide-txt { margin-top: 3.2rem; color: #fff; font-size: 1.7rem; line-height: 2.2rem; }

.service .cont-footer { position: relative; z-index: 10; }

.service .cont-footer .btn-ico-arr { transition: .3s; }

.service .cont-footer .btn.btn-primary { border: 1px solid #fff; }

/* me member */
.terms { background-color: #f8f8f8 !important; }

.terms section { margin-top: 3.2rem; }

.terms h1 { font-weight: 500; font-size: 1.7rem; }

.terms h2 { margin-bottom: 1.6rem; font-weight: 350; font-size: 1.7rem; }

.terms p { font-size: 1.5rem; color: #666; word-wrap: break-word; }

.terms p a { font-weight: 500; color: #324299 !important; }

/* 비밀번호 */
.keypad-pw-wrap { display: flex; justify-content: center; margin: 10.4rem auto 0; }

.keypad-pw-wrap .keypad-pw { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: #e8e8e8; }

.keypad-pw-wrap .keypad-pw + .keypad-pw { margin-left: 1.2rem; }

.keypad-pw-wrap .keypad-pw.selected { background-color: #324299; }

/* 생체로그인 */
.biology-set { display: flex; height: 100%; margin: auto; align-items: center; justify-content: center; }

.biology-set [class*=ico] { display: block; width: 12.4rem; height: 12.4rem; background-repeat: no-repeat; background-size: 100% auto; }

.biology-set .ico-finger { background-image: url("/images/MM/ico_finger.png"); }

.biology-set .ico-face { background-image: url("/images/MM/ico_face.png"); }

.member-complete .cont-header { padding: 15.1rem 0 5.6rem; padding: 18vh 0 6.8vh; }

.member-complete .cont-body .txt-info { font-size: 1.7rem; text-align: center; }

/* po point */
.po .change-possible-point dt { font-size: 1.3rem; line-height: 1.8rem; }

.po .change-possible-point dd { margin-top: .4rem; font-size: 2rem; line-height: 2.8rem; }

.po .change-possible-point dd .num { font-size: 2.2rem; margin-right: .4rem; vertical-align: bottom; }

.po .change-possible-point + .list-group { margin-top: 3.8rem; }

.po .total { font-weight: 700; }

.po .history-area { padding-bottom: 1.2rem; }

.po .history-tl { font-size: 1.3rem; line-height: 2rem; color: #999; }

.po .cashbee-charge { padding-top: 9.6rem; padding-bottom: 9.6rem; }

.po .tab-panel .cashbee-charge { padding-top: 6.8rem; padding-bottom: 9.6rem; }

.po .guide-detail-step li { position: relative; display: flex; flex-wrap: wrap; align-items: center; }

.po .guide-detail-step li:after { content: ""; display: block; width: 0.8rem; height: 1.5rem; margin: 1.2rem 2.3rem; background: url("/images/common/arr_step.png") no-repeat 0 0/100%; }

.po .guide-detail-step li .icon-area .icon { flex-basis: 5.4rem; display: block; width: 5.4rem; height: 5.4rem; line-height: 5.4rem; }

.po .guide-detail-step li .icon-area .icon.family-step1 { background: url("/images/PO/img_family_step1.png") no-repeat 0 0/100%; }

.po .guide-detail-step li .icon-area .icon.family-step2 { background: url("/images/PO/img_family_step2.png") no-repeat 0 0/100%; }

.po .guide-detail-step li .icon-area .icon.family-step3 { background: url("/images/PO/img_family_step3.png") no-repeat 0 0/100%; }

.po .guide-detail-step li dl { flex-basis: calc(100% - 6.4rem); margin-left: 1rem; }

.po .guide-detail-step li dl dt { font-weight: 500; font-size: 1.3rem; line-height: 1.8rem; }

.po .guide-detail-step li dl dd { font-size: 1.3rem; line-height: 1.8rem; word-break: keep-all; word-wrap: break-word; }

.po .guide-detail-step li:last-child:after { display: none; }

.po .family-guide-group { margin-top: 1.2rem; padding: 1.6rem; border-radius: .7rem; }

.po .family-guide-group .list-type { margin-bottom: 0; }

.po .family-guide-group .list-type li { font-size: 1.5rem; word-break: keep-all; word-wrap: break-word; }

.po .family-guide-group .list-type li + li { margin-top: .8rem; }

.card-list .list-group.box .list-item.img-item.disabled { box-shadow: none; background: #e8e8e8; }

.card-list .list-group.box .list-item.img-item.disabled .list-item-link { background: none; }

.card-list .list-group.box .list-item.img-item.disabled .list-item-img img { filter: grayscale(100%); }

.card-list .list-group.box .list-item.img-item.disabled .list-item-tit { color: #999; }

.prepare-content { margin-top: calc(17.48vh + 5.8rem); }

.prepare .tab-panel .prepare-content { margin-top: 17.48vh; }

/* 전체메뉴 */
.me.answer-fin { background-color: #f8f8f8; }

.me.answer-fin .modal-body, .me.answer-fin .app-body { padding: 0 2.4rem; }

.me.answer-fin .modal-body .inquiry-group, .me.answer-fin .app-body .inquiry-group { padding: 3.2rem 0; background-color: #fff; min-height: calc(50vh - 3.2rem); }

.me .inquiry-group { margin: 0 -2.4rem; }

.me .inquiry-group .inquiry-header { padding: 2.4rem; border-bottom: 1px solid #e8e8e8; }

.me .inquiry-group .inquiry-header .inquiry-tit { font-weight: 350; font-size: 1.5rem; line-height: 2rem; color: #000; }

.me .inquiry-group .inquiry-header .inquiry-tit + .inquiry-txt { padding-top: .3rem; }

.me .inquiry-group .inquiry-header .inquiry-txt { font-size: 1.3rem; line-height: 1.8rem; color: #999; }

.me .inquiry-group .inquiry-header .inquiry-txt span + span { padding-left: 0.4rem; }

.me .inquiry-group .inquiry-header .inquiry-txt .state { font-weight: 500; }

.me .inquiry-group .inquiry-body { padding: 3.2rem 2.4rem 0 2.4rem; }

.me .inquiry-group .inquiry-body p { line-height: 2rem; }

.me .answer-area { padding: 3.2rem 0; }

.me .answer-area .txt { line-height: 2rem; color: #000; }

.me .answer-area .txt + .date { margin-top: 2.4rem; }

.me .answer-area .date { font-size: 1.3rem; line-height: 1.8rem; color: #999; }

.me .guide-detail-step li { position: relative; display: flex; }

.me .guide-detail-step li .num-area { display: flex; flex-direction: column; }

.me .guide-detail-step li .num-area .num { flex-basis: 2.5rem; display: block; width: 2.5rem; height: 2.5rem; line-height: 2.5rem; background-color: #324299; color: #fff; text-align: center; border-radius: 50%; }

.me .guide-detail-step li .num-area .arr { display: block; width: 0.8rem; height: 1.5rem; margin: auto; background: url("/images/common/arr_step.png") no-repeat 0 0/100%; }

.me .guide-detail-step li .icon-area .icon { flex-basis: 5.4rem; display: block; width: 5.4rem; height: 5.4rem; line-height: 5.4rem; }

.me .guide-detail-step li .icon-area .icon.family-step1 { background: url("/images/PO/img_family_step1.png") no-repeat 0 0/100%; }

.me .guide-detail-step li .icon-area .icon.family-step2 { background: url("/images/PO/img_family_step2.png") no-repeat 0 0/100%; }

.me .guide-detail-step li .icon-area .icon.family-step3 { background: url("/images/PO/img_family_step3.png") no-repeat 0 0/100%; }

.me .guide-detail-step li dl { flex-basis: calc(100% - 4.1rem); margin: 0 1.6rem; padding-bottom: 2rem; }

.me .guide-detail-step li dl dt { font-weight: 500; font-size: 1.3rem; line-height: 2.5rem; }

.me .guide-detail-step li dl dd { margin-top: 0.1rem; line-height: 2rem; word-break: keep-all; word-wrap: break-word; }

.me .guide-detail-step li:last-child .num-area .arr { display: none; }

.me .sub-title-area { padding-bottom: 1.2rem; }

.me .ico-menu-area { margin-bottom: 1.4rem; display: flex; justify-content: space-around; }

.me .aside-footer { margin: 0 -2.4rem; padding: 2.4rem 2.4rem .4rem 2.4rem; }

.inquiry-empty .cont-header { padding: 10.7rem 0 5.6rem; padding: 13vh 0 6.8vh; }

.inquiry-empty .cont-body .txt-info { font-size: 1.7rem; text-align: center; }

/* 주소관리 */
.list-addr .badge { display: block; width: 4.8rem; font-size: 1.3rem; line-height: 2rem; color: #999; text-align: center; border: 1px solid #999; border-radius: 2px; }

.list-addr dt { float: left; margin-top: 1.2rem; }

.list-addr dd { margin-left: 6rem; margin-top: 1.2rem; }

.list-addr .zipcode { margin: 0; }

.my-info-list li { padding: 2rem; border-radius: .6rem; background-color: #f8f8f8; }

.my-info-list li + li { margin-top: 1.2rem; }

.my-info-list .my-info-cont { position: relative; }

.my-info-list .my-info-cont dt { color: #666; }

.my-info-list .my-info-cont dd { font-weight: 500; }

.my-info-list .my-info-cont .btn-area, .my-info-list .my-info-cont .btn-area-more { position: absolute; top: 50%; right: 0; display: block; transform: translateY(-50%); }

.my-info-list .my-info-cont .detail.before { font-weight: 500; color: #ccc; }

.my-info-list .my-info-cont .addr-zip, .my-info-list .my-info-cont .addr-detail { display: block; }

.notification .date { position: relative; }

.notification .date:before, .notification .date::before { content: ''; position: absolute; top: 50%; display: block; width: 100%; height: 1px; background-color: #e8e8e8; transform: translateY(-50%); }

.notification .date span { position: relative; display: inline-block; width: 8rem; background-color: #fff; }

.notification .list-group { padding-top: 1.1rem; }

.notification .list-group .list-item { padding-top: 1.2rem; padding-bottom: 1.2rem; border: 0; }

.notification .list-group .list-item a, .notification .list-group .list-item span { display: block; }

.notification .list-group .list-item a { position: relative; padding-left: 4.6rem; }

.notification .list-group .cate { position: absolute; left: 0; width: 2.6rem; height: 2.6rem; border-radius: 50%; background-color: #324299; }

.notification .list-group .cate[class*=cate-] { background-repeat: no-repeat; background-position: 50% 50%; background-size: 1.8rem 1.8rem; }

.notification .list-group .cate.cate-push { background-image: url(/images/MA/ico_cate_push.png); }

.notification .list-group .cate.cate-notify { background-image: url(/images/MA/ico_cate_notify.png); }

.notification .list-group .cate.cate-event { background-image: url(/images/MA/ico_cate_event.png); }

.notification .list-group .title { font-weight: 500; }

.notification .list-group .cont, .notification .list-group time { font-size: 1.3rem; }

.notification .list-group .cont { overflow: hidden; color: #666; text-overflow: ellipsis; white-space: nowrap; }

.notification .list-group .time { color: #999; }

.notification + .notification { margin-top: 3.6rem; }

/* layout */
#wrap { height: 100%; padding: 0 2.4rem calc(constant(safe-area-inset-bottom) + 3.2rem); padding: 0 2.4rem calc(env(safe-area-inset-bottom) + 3.2rem); padding: 0 2.4rem 3.2rem; }

#content { display: flex; flex-direction: column; height: 100%; }

/* typography */
.title-lg { font-size: 3.4rem; line-height: 4.1rem; }

.title-md { font-size: 2rem; line-height: 2.8rem; }

.title-sm { font-size: 1.7rem; line-height: 2.2rem; }

.title-xs { font-size: 1.5rem !important; }

.txt { font-size: 1.5rem; color: #666; }

.fs13 { font-size: 1.3rem !important; }

.fs15 { font-size: 1.5rem !important; }

.mark-refer { padding-left: 1.5rem; }

.mark-refer::before { content: '\203b'; margin-left: -1.5rem; }

.mark-dot::before { content: ''; display: block; }

.mark-hyphen::before { content: '\002d'; display: inline-block; }

[class*=mark-] dd { padding-left: 1.5rem; }

/* text */
.txt-caution { color: #ef326b !important; }

.header { display: none; }

.cont-header { padding-top: 5.3rem; }

.cont-body { height: 100%; }

.cont-footer { margin-top: auto; }
